{% load staticfiles %}

<script type="text/javascript">
var context;
var queue;
var WIDTH = 1024;
var HEIGHT = 550;
var mouseXPosition;
var mouseYPosition;
var batImage;
var stage;
var animation;
var deathAnimation;
var spriteSheet;
var enemyXPos = WIDTH / 2;
var enemyYPos = HEIGHT / 2;
var enemyXSpeed = 1.5;
var enemyYSpeed = 1.75;
var score = 0;
var scoreText;
var gameTimer;
var gameTime = 0;
var timerText;
var canvas;

window.onload = function()
{
	/*
	*      Set up the Canvas with Size and height
	*
	*/
	canvas = document.getElementById("myCanvas");
	context = canvas.getContext("2d");
	context.canvas.width = WIDTH;
	context.canvas.height = HEIGHT;
	stage = new createjs.Stage("myCanvas");

	/*
	*      Set up the Asset Queue and load sounds
	*
	*/
	queue = new createjs.LoadQueue(false);
	queue.installPlugin(createjs.Sound);
	queue.on("complete", queueLoaded, this);
	createjs.Sound.alternateExtensions = ["ogg"];

	/*
	*      Create a load manifest for all assets
	*
	*/
	queue.loadManifest([
		{id: 'backgroundImage', src: '{% static "assets/background.jpg" %}'},
		{id: 'crossHair', src: '{% static "assets/crosshair.png" %}'},
		{id: 'shot', src: '{% static "assets/shot.mp3" %}'},
		{id: 'background', src: '{% static "assets/countryside.mp3" %}'},
		{id: 'gameOverSound', src: '{% static "assets/gameOver.mp3" %}'},
		{id: 'tick', src: '{% static "assets/tick.mp3" %}'},
		{id: 'deathSound', src: '{% static "assets/die.mp3" %}'},
		{id: 'batSpritesheet', src: '{% static "assets/batSpritesheet.png" %}'},
		{id: 'batDeath', src: '{% static "assets/batDeath.png" %}'},
		]);
	queue.load();

	/*
	*      Create a timer that updates once per second
	*
	*/
	gameTimer = setInterval(updateTime, 1000);

}

function queueLoaded(event)
{
	// Add background image
	var backgroundImage = new createjs.Bitmap(queue.getResult("backgroundImage"))
	stage.addChild(backgroundImage);

	//Add Score
	scoreText = new createjs.Text("Score: " + score.toString(), "36px Arial", "#FFF");
	scoreText.x = 10;
	scoreText.y = 10;
	stage.addChild(scoreText);

	//Ad Timer
	timerText = new createjs.Text("Time: " + gameTime.toString(), "36px Arial", "#FFF");
	timerText.x = WIDTH - 150;
	timerText.y = 10;
	stage.addChild(timerText);

	// Play background sound
	createjs.Sound.play("background", {loop: -1});

	// Create bat spritesheet
	spriteSheet = new createjs.SpriteSheet({
	"images": [queue.getResult('batSpritesheet')],
	"frames": {"width": 198, "height": 117},
	"animations": { "flap": [0,4] }
	});

	// Create bat death spritesheet
	batDeathSpriteSheet = new createjs.SpriteSheet({
	"images": [queue.getResult('batDeath')],
	"frames": {"width": 198, "height" : 148},
	"animations": {"die": [0,7, false,1 ] }
	});

	// Create bat sprite
	createEnemy();

	/*
	// Create crosshair
	crossHair = new createjs.Bitmap(queue.getResult("crossHair"));
	crossHair.x = WIDTH/2;
	crossHair.y = HEIGHT/2;
	stage.addChild(crossHair);
	*/
	
	crossHair = new createjs.Bitmap(queue.getResult("crossHair"));
	stage.addChild(crossHair);

	// Add ticker
	createjs.Ticker.setFPS(15);
	createjs.Ticker.addEventListener('tick', stage);
	createjs.Ticker.addEventListener('tick', tickEvent);

	// Set up events AFTER the game is loaded
	// window.onmousemove = handleMouseMove;
	window.onmousemove = handleMouseMove;
	window.onmousedown = handleMouseDown;
}

function createEnemy()
{
	animation = new createjs.Sprite(spriteSheet, "flap");
	animation.regX = 99;
	animation.regY = 58;
	animation.x = enemyXPos;
	animation.y = enemyYPos;
	animation.gotoAndPlay("flap");
	stage.addChildAt(animation, 1);
}

function batDeath()
{
	deathAnimation = new createjs.Sprite(batDeathSpriteSheet, "die");
	deathAnimation.regX = 99;
	deathAnimation.regY = 74;
	deathAnimation.x = enemyXPos;
	deathAnimation.y = enemyYPos;
	deathAnimation.gotoAndPlay("die");
	stage.addChild(deathAnimation);
}

function tickEvent()
{
	//Make sure enemy bat is within game boundaries and move enemy Bat
	if(enemyXPos < WIDTH - 99 && enemyXPos > 99)
	{
		enemyXPos += enemyXSpeed;
	} 
	else 
	{
		enemyXSpeed = enemyXSpeed * (-1);
		enemyXPos += enemyXSpeed;
	}
	if(enemyYPos < HEIGHT - 58 && enemyYPos > 58)
	{
		enemyYPos += enemyYSpeed;
	} 
	else
	{
		enemyYSpeed = enemyYSpeed * (-1);
		enemyYPos += enemyYSpeed;
	}

	animation.x = enemyXPos;
	animation.y = enemyYPos;
}

function handleMouseMove(event)
{
	//Display CrossHair
	var relativeX = event.clientX - canvas.offsetLeft;
	var relativeY = event.clientY - canvas.offsetTop;
	crossHair.x = relativeX - 45;
	crossHair.y = relativeY - 45;
	//createjs.Tween.get(crossHair).to({alpha: 0},1000);
}

function handleMouseDown(event)
{

	//Play Gunshot sound
	createjs.Sound.play("shot");

	//Increase speed of enemy slightly
	enemyXSpeed *= 1.05;
	enemyYSpeed *= 1.05;

	//Obtain Shot position
	var shotX = Math.round(event.clientX - canvas.offsetLeft);
	var shotY = Math.round(event.clientY - canvas.offsetTop);
	var spriteX = Math.round(animation.x);
	var spriteY = Math.round(animation.y);

	console.log(shotX + "-" + shotY + "," + spriteX + "-" + spriteY);
	// Compute the X and Y distance using absolute value
	var distX = Math.abs(shotX - spriteX);
	var distY = Math.abs(shotY - spriteY);

	// Anywhere in the body or head is a hit - but not the wings
	if(distX < 30 && distY < 59)
	{
		//Hit
		stage.removeChild(animation);
		batDeath();
		score += 100;
		scoreText.text = "Score: " + score.toString();
		createjs.Sound.play("deathSound");

		//Make it harder next time
		enemyYSpeed *= 1.25;
		enemyXSpeed *= 1.3;

		//Create new enemy
		var timeToCreate = Math.floor((Math.random()*2000)+1);
		setTimeout(createEnemy,timeToCreate);

	} 
	else
	{
		//Miss
		score -= 10;
		scoreText.text = "Score: " + score.toString();
	}
}

function updateTime()
{
	gameTime += 1;
	if(gameTime > 60)
	{
		//End Game and Clean up
		timerText.text = "GAME OVER";
		timerText.font = "bold 100px Arial"
		timerText.textAlign = "center";
		timerText.textBaseline = "middle";
		timerText.x = WIDTH / 2;
		timerText.y = HEIGHT / 2;
		stage.removeChild(animation);
		stage.removeChild(crossHair);
		createjs.Sound.removeSound("background");
		createjs.Sound.play("gameOverSound");
		clearInterval(gameTimer);
		alert("GAME OVER");
		document.location.reload();
	}
	else
	{
		timerText.text = "Time: " + gameTime
		createjs.Sound.play("tick");
	}
}
</script>