<nav class="navbar navbar-inverse" style="border-radius: 0px">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'home' %}">LetsPlayAGame</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="{% url 'game2048' %}">2048</a></li>
			<li class="active"><a href="#">Bingo</a></li>
			<li><a href="{% url 'gamebuttonmania' %}">Button Mania</a></li>
			<li><a href="{% url 'gamebatshoot' %}">Bat Shoot</a></li>
			<li><a href="{% url 'gamebrickbreaker' %}">Brick Breaker</a></li>
			<li><a href="{% url 'gametigerjump' %}">Tiger Jump</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'games' %}">Games</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>
