<div class="inner cover">
	<h1 class="cover-heading" style="margin-bottom: 20px">Play Games Online for FREE!</h1>
	<p class="lead" style="text-align: justify;">The website contains variety of games which can be played online such as 2D-BrickBreaker Game, 2048, Shoot the Bat, Tiger-Jump, Bingo, and many more.</p>
	<p class="lead" style="text-align: justify;">So, What are you waiting for - LETS PLAY A GAME.</p>
	<p class="lead">
		<a href="{% url 'games' %}" class="btn btn-lg btn-default">Play Games</a>
	</p>
</div>
